{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} &#8226; Canteen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link href="{% static "/canteen_browser/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- js -->
    <script src="{% static "/canteen_browser/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "/canteen_browser/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  </head>
  <body>
    <header>
      fake navigation
    </header>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 et : -->
