{% extends "canteen_browser/base.html" %}
{% load static %}
{% block title %}Map{% endblock %}
{% block homepage %}{% url 'canteen_browser:map' %}{% endblock %}
{% block nav %}
    <li id="nav-map"{% if active == 'map' %} class="active"{% endif %}><a href="{% url 'canteen_browser:map' %}">Map</a></li>
    <li id="nav-reports"{% if active == 'reports' %} class="active"{% endif %}><a href="{% url 'canteen_browser:map' active_screen='reports' %}">Reports</a></li>
    <li><a href="#">New Report</a></li>
    <li><a href="#">About</a></li>
{% endblock %}
{% block content %}
    {% if settings.GMAPS_API_KEY %}
        <div id="map"{% if active != "map" %} class="inactive"{% endif %}></div>
    {% else %}
        <div id="map" class="container{% if active != "map" %} inactive{% endif %}">
            No Google Maps API keys configured.
        </div>
    {% endif %}
    <div id="reports"{% if active != "reports" %} class="inactive"{% endif %}>
        <div class="container">
            <table class="table">
                <thead>
                    <tr><th>&num;</th><th>Description</th></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-flow: column;
        }
        #nav {
            /* Remove blank between map and navigation */
            margin-bottom: 0;
            flex: 0 1 auto;
        }
        #content {
            /* Fill up as much of the page as possible */
            flex: 1 1 auto;
        }
        #map {
            width: 100%;
            height: 100%;
        }
        #nav a {
            /* Remove annoying checkered box around nav elements after
               clicking */
            outline: 0;
        }
        .inactive {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        // Constants passed from the server on page load

        var REPORT_ICON = "{% static "/canteen_browser/img/drop.svg" %}";
        // Parse generated JSON with JSON.parse instead of directly
        // injecting it because JSON is not a subset of JavaScript
        var reports = JSON.parse("{{ reports_json|escapejs }}");
        // The current screen
        var active = "{{ active }}";
    </script>
    <script src="{% static "/canteen_browser/js/main.js" %}"></script>
    {% if settings.GMAPS_API_KEY %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GMAPS_API_KEY }}&callback=initMap"></script>
    {% endif %}
{% endblock %}
