{% extends "canteen_browser/base.html" %}
{% load static %}
{% block title %}{{ active_title }}{% endblock %}
{% block homepage %}{% url 'canteen_browser:map' %}{% endblock %}
{% block nav %}
    <ul class="nav navbar-nav">
        <li id="nav-map"{% if active == 'map' %} class="active"{% endif %}><a href="{% url 'canteen_browser:map' %}">Map</a></li>
        <li id="nav-reports"{% if active == 'reports' %} class="active"{% endif %}><a href="{% url 'canteen_browser:map' active_screen='reports' %}">Reports</a></li>
        {% if perms.canteen.view_purityreport %}
            <li id="nav-purity_reports"{% if active == 'purity_reports' %} class="active"{% endif %}><a href="{% url 'canteen_browser:map' active_screen='purity_reports' %}">Purity Reports</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#editProfile-modal">Hello, {{ request.user.username }}!</a></li>
        <li><a href="{% url 'canteen_browser:logout' %}">Logout</a></li>
    </ul>
{% endblock %}
{% block content %}
    <div id="editProfile-modal" class="modal fade" role="dialog" aria-labelledby="editProfile-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="editProfile-label" class="modal-title">Edit Profile</h4>
                </div>
                <div class="modal-body">
                    <div id="editProfile-help" class="alert alert-danger inactive" role="alert"></div>
                    <div class="form-group">
                        <label for="editProfile-first_name">First name</label>
                        <input id="editProfile-first_name" class="form-control" type="text" placeholder="George">
                        <span id="editProfile-help-first_name" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="editProfile-last_name">Last name</label>
                        <input id="editProfile-last_name" class="form-control" type="text" placeholder="Burdell">
                        <span id="editProfile-help-last_name" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="editProfile-email">Email address</label>
                        <input id="editProfile-email" class="form-control" type="email" placeholder="gburdell@gatech.edu">
                        <span id="editProfile-help-email" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="editProfile-phone">Phone number</label>
                        <input id="editProfile-phone" class="form-control" type="text" placeholder="123-456-7890">
                        <span id="editProfile-help-phone" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="editProfile-address">Address</label>
                        <textarea id="editProfile-address" class="form-control"></textarea>
                        <span id="editProfile-help-address" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="editProfile-bio">Bio</label>
                        <textarea id="editProfile-bio" class="form-control"></textarea>
                        <span id="editProfile-help-bio" class="help-block inactive"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="editProfile-save" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    {% if settings.GMAPS_API_KEY %}
        <div id="map"{% if active != "map" %} class="inactive"{% endif %}></div>
        <div id="map-menu" class="inactive list-group">
            <button id="map-menu-report" type="button" class="list-group-item">Add Report Here</button>
            {% if perms.canteen.add_purityreport %}
                <button id="map-menu-purity" type="button" class="list-group-item">Add Purity Report Here</button>
            {% endif %}
        </div>
    {% else %}
        <div id="map" class="container{% if active != "map" %} inactive{% endif %}">
            No Google Maps API keys configured.
        </div>
    {% endif %}
    <div id="reports"{% if active != "reports" %} class="inactive"{% endif %}>
        <div class="container">
            {% if perms.canteen.add_report %}
                <button type="button" class="btn btn-default add-btn" data-toggle="modal" data-target="#addReport-modal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Report
                </button>
            {% endif %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>&num;</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Condition</th>
                            <th>Creator</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="addReport-modal" class="modal fade" role="dialog" aria-labelledby="addReport-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="addReport-label" class="modal-title">Add Report</h4>
                </div>
                <div class="modal-body">
                    <div id="addReport-help" class="alert alert-danger inactive" role="alert"></div>
                    <div class="form-group">
                        <label for="addReport-latitude">Latitude</label>
                        <input id="addReport-latitude" class="form-control" type="number" step="0.0001" placeholder="33.772347">
                        <span id="addReport-help-latitude" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="addReport-longitude">Longitude</label>
                        <input id="addReport-longitude" class="form-control" type="number" step="0.0001" placeholder="-84.394700">
                        <span id="addReport-help-longitude" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="addReport-type">Type</label>
                        <select id="addReport-type" class="form-control">
                            <option value="0" selected>Bottled</option>
                            <option value="1">Well</option>
                            <option value="2">Stream</option>
                            <option value="3">Lake</option>
                            <option value="4">Spring</option>
                            <option value="5">Other</option>
                        </select>
                        <span id="addReport-help-type" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="addReport-condition">Condition</label>
                        <select id="addReport-condition" class="form-control">
                            <option value="0" selected>Waste</option>
                            <option value="1">Treatable-Clear</option>
                            <option value="2">Treatable-Muddy</option>
                            <option value="3">Potable</option>
                        </select>
                        <span id="addReport-help-condition" class="help-block inactive"></span>
                    </div>
                    <div class="form-group">
                        <label for="addReport-description">Description (optional)</label>
                        <textarea id="addReport-description" class="form-control" maxlength="256"></textarea>
                        <span id="addReport-help-description" class="help-block inactive"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="addReport-save" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    {% if perms.canteen.view_purityreport %}
        <div id="purity_reports"{% if active != "purity_reports" %} class="inactive"{% endif %}>
            <div class="container">
                {% if perms.canteen.add_purityreport %}
                    <button type="button" class="btn btn-default add-btn" data-toggle="modal" data-target="#addPurityReport-modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Purity Report
                    </button>
                {% endif %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>&num;</th>
                                <th>Date</th>
                                <th>Condition</th>
                                <th>Virus PPM</th>
                                <th>Contaminant PPM</th>
                                <th>Creator</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="historyReport-modal" class="modal fade" role="dialog" aria-labelledby="historyReport-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="historyReport-label" class="modal-title">Purity History</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs nav-justified">
                            <li id="historyReport-tab-virus" role="presentation" class="active"><a href="#">Virus PPM</a></li>
                            <li id="historyReport-tab-contam" role="presentation"><a href="#">Contaminant PPM</a></li>
                        </ul>
                        <label id="historyReport-year-label">
                            Year:
                            <input id="historyReport-year" type="number" step="1">
                        </label>
                        <canvas id="historyReport-chart" width="400" height="400"></canvas>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addPurityReport-modal" class="modal fade" role="dialog" aria-labelledby="addPurityReport-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="addPurityReport-label" class="modal-title">Add Purity Report</h4>
                    </div>
                    <div class="modal-body">
                        <div id="addPurityReport-help" class="alert alert-danger inactive" role="alert"></div>
                        <div class="form-group">
                            <label for="addPurityReport-latitude">Latitude</label>
                            <input id="addPurityReport-latitude" class="form-control" type="number" step="0.0001" placeholder="33.772347">
                            <span id="addPurityReport-help-latitude" class="help-block inactive"></span>
                        </div>
                        <div class="form-group">
                            <label for="addPurityReport-longitude">Longitude</label>
                            <input id="addPurityReport-longitude" class="form-control" type="number" step="0.0001" placeholder="-84.394700">
                            <span id="addPurityReport-help-longitude" class="help-block inactive"></span>
                        </div>
                        <div class="form-group">
                            <label for="addPurityReport-condition">Condition</label>
                            <select id="addPurityReport-condition" class="form-control">
                                <option value="0" selected>Safe</option>
                                <option value="1">Treatable</option>
                                <option value="2">Unsafe</option>
                            </select>
                            <span id="addPurityReport-help-condition" class="help-block inactive"></span>
                        </div>
                        <div class="form-group">
                            <label for="addPurityReport-virusPPM">Virus PPM</label>
                            <input id="addPurityReport-virusPPM" class="form-control" type="number" step="0.1" placeholder="80.5">
                            <span id="addPurityReport-help-virusPPM" class="help-block inactive"></span>
                        </div>
                        <div class="form-group">
                            <label for="addPurityReport-contaminantPPM">Contaminant PPM</label>
                            <input id="addPurityReport-contaminantPPM" class="form-control" type="number" step="0.1" placeholder="10.7">
                            <span id="addPurityReport-help-contaminantPPM" class="help-block inactive"></span>
                        </div>
                        <div class="form-group">
                            <label for="addPurityReport-description">Description (optional)</label>
                            <textarea id="addPurityReport-description" class="form-control" maxlength="256"></textarea>
                            <span id="addPurityReport-help-description" class="help-block inactive"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="addPurityReport-save" type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block styles %}
    <style type="text/css">
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-flow: column;
        }
        #nav {
            /* Remove blank between map and navigation */
            margin-bottom: 0;
            flex: 0 0 auto;
        }
        #content {
            position: relative;
            /* Fill up as much of the page as possible */
            flex: 1 1 auto;
            /* Display scrollbar in this element, not for the whole page */
            overflow: auto;
        }
        #map {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        #nav a {
            /* Remove annoying checkered box around nav elements after
               clicking */
            outline: 0;
        }
        #historyReport-year-label {
            display: block;
            margin: 4px auto;
            text-align: center;
        }
        #map-menu {
            height: 128px;
            width: 200px;
            position: absolute;
        }
        .inactive {
            display: none;
        }
        .add-btn {
            margin: 8px 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% csrf_token %}
    <script src="{% static "/canteen_browser/chart.js/dist/Chart.min.js" %}"></script>
    <script>
        // Constants passed from the server on page load
        var ROOT_PATH = "{% url 'canteen_browser:map' %}";
        var ROOT_SCREEN = "map";
        var REPORT_ICON = "{% static "/canteen_browser/img/drop.svg" %}";
        var PURITY_REPORT_ICON = "{% static "/canteen_browser/img/yellow-drop.svg" %}";
        var CSRF_TOKEN = $('[name=csrfmiddlewaretoken]').val();

        // Fields in the add report modal
        var ADD_REPORT_ENDPOINT = '/api/reports/';
        var ADD_REPORT_FIELDS = {
            latitude: parseFloat,
            longitude: parseFloat,
            type: parseInt,
            condition: parseInt,
            description: null
        };
        // Fields in the add purity report modal
        var ADD_PURITY_REPORT_ENDPOINT = '/api/purity_reports/';
        var ADD_PURITY_REPORT_FIELDS = {
            latitude: parseFloat,
            longitude: parseFloat,
            condition: parseInt,
            virusPPM: parseFloat,
            contaminantPPM: parseFloat,
            description: null
        };
        var NEARBY_PURITY_REPORT_ENDPOINT = '/api/purity_reports/near/';
        var PROFILE_FIELDS = {
            first_name: null,
            last_name: null,
            email: null,
            phone: null,
            address: null,
            bio: null
        };
        var PROFILE_ENDPOINT = '/api/users/me/';

        // Parse generated JSON with JSON.parse instead of directly
        // injecting it because JSON is not a subset of JavaScript
        var reports = JSON.parse("{{ reports_json|escapejs }}");
        {% if perms.canteen.view_purityreport %}
            var purity_reports = JSON.parse("{{ purity_reports_json|escapejs }}");
        {% endif %}
        // The current screen
        var active = "{{ active }}";
    </script>
    <script src="{% static "/canteen_browser/js/main.js" %}"></script>
    {% if settings.GMAPS_API_KEY %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ settings.GMAPS_API_KEY }}&callback=initMap"></script>
    {% endif %}
{% endblock %}
